<div class="openaside"><a class="navbutton" href="#" title="显示目录"></a></div>
<div id="toc" class="toc-aside">
  <strong class="toc-title"> 目录 </strong>
  <strong class="toc-title"> <%= page.layout %> </strong>
<%- toc(item.content, {list_number: true}) %>
</div>
